@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
/*Seccion de reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  background-color: #f5f5dc;
  font-family: 'Sen', sans-serif;
  color: #27223a; }
  body header {
    background-color: #5436cc;
    display: flex;
    justify-content: center; }
    body header a img {
      width: 200px;
      margin: 10px auto; }
  body main .inicial_cta .initial_cta_text {
    display: flex;
    flex-direction: column;
    padding: 0px 15px; }
    body main .inicial_cta .initial_cta_text h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      font-size: 30px;
      text-align: center;
      margin-top: 20px; }
    body main .inicial_cta .initial_cta_text p {
      text-align: center;
      margin-top: 15px; }
    body main .inicial_cta .initial_cta_text button {
      background-color: #b6c600;
      width: 200px;
      height: 50px;
      border-radius: 10px;
      border: 0px solid #27223a;
      color: #27223a;
      font-family: 'Sen', sans-serif;
      font-size: 16px;
      font-weight: 700;
      box-shadow: 2px 2px 1px 1px #5436cc;
      margin: 20px auto; }
    body main .inicial_cta .initial_cta_text button:hover {
      background-color: #5436cc;
      color: #f5f5dc;
      width: 220px;
      height: 50px;
      box-shadow: 2px 2px 1px 1px #b6c600;
      transition: .3s; }
  body main .inicial_cta .initial_img {
    margin: 20px auto;
    display: flex;
    justify-content: center; }
    body main .inicial_cta .initial_img img {
      width: 300px;
      height: auto; }
  body main .beneficios {
    background-color: #5436cc;
    color: #27223a;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main .beneficios .benef {
      display: flex;
      padding: 20px 10px;
      width: 300px;
      height: auto;
      margin: 20px 0 0 0;
      background-color: #b6c600;
      border-radius: 20px; }
      body main .beneficios .benef img {
        width: 30px;
        height: 30px;
        margin: 5px 10px 0 0;
        border: 1px solid #27223a;
        border-radius: 20px; }
      body main .beneficios .benef div span {
        font-weight: 700; }
      body main .beneficios .benef div p {
        margin: 15px 15px 0 0; }
  body main .social_proof div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main .social_proof div .quote_client {
      text-align: center;
      font-weight: 700;
      font-size: 26px;
      margin-top: 15px;
      width: 300px; }
    body main .social_proof div div {
      display: flex;
      flex-direction: row; }
      body main .social_proof div div img {
        width: 60px;
        display: none; }
      body main .social_proof div div .text_client {
        font-style: italic;
        width: 90%;
        text-align: center;
        margin: 15px 20px; }
    body main .social_proof div .name_client {
      margin: 15px 0 20px 0; }
  body main .strong_cta {
    background-color: #5436cc;
    padding: 20px; }
    body main .strong_cta article {
      background-color: #c536cf;
      margin: 20px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 10px;
      border-radius: 20px;
      color: beige; }
      body main .strong_cta article img {
        margin: 10px auto;
        width: 50px;
        height: 50px;
        border: 1px solid #27223a;
        border-radius: 30px; }
      body main .strong_cta article .prod_title {
        text-align: center;
        font-size: 16px;
        font-weight: 600; }
      body main .strong_cta article .prod_para {
        text-align: center;
        margin-top: 10px; }
      body main .strong_cta article button {
        background-color: #b6c600;
        width: 200px;
        height: 40px;
        border-radius: 10px;
        border: 0px solid #27223a;
        color: #27223a;
        font-family: 'Sen', sans-serif;
        font-size: 16px;
        font-weight: 700;
        box-shadow: 2px 2px 1px 1px #5436cc;
        margin: 20px auto; }
      body main .strong_cta article button:hover {
        background-color: #5436cc;
        color: #f5f5dc;
        width: 220px;
        height: 40px;
        box-shadow: 2px 2px 1px 1px #b6c600;
        transition: .3s; }
  body main .who_are h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-top: 20px; }
  body main .who_are .who_text {
    width: 300px;
    text-align: center;
    margin: auto; }
  body main .who_are .jess {
    display: flex;
    align-items: center;
    padding: 0 20px; }
    body main .who_are .jess img {
      width: 100px;
      height: 200px;
      margin-right: 15px; }
    body main .who_are .jess .jess_content .jess_name {
      font-weight: 700;
      margin: 10px 0; }
  body main .who_are .dani {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 20px; }
    body main .who_are .dani img {
      width: 100px;
      height: 200px;
      margin-left: 15px; }
    body main .who_are .dani .dani_content {
      margin: 15px 0; }
      body main .who_are .dani .dani_content .dani_name {
        font-weight: 700; }
  body main .form {
    background-color: #c536cf;
    color: #f5f5dc;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px; }
    body main .form p {
      font-size: 20px;
      font-weight: 600; }
    body main .form .cssBasic {
      border-radius: 10px;
      font-family: 'Sen', sans-serif;
      border: 3px solid #5436cc;
      padding-left: 10px; }
    body main .form #name {
      width: 275px;
      height: 30px;
      margin-top: 15px; }
    body main .form #email {
      width: 275px;
      height: 30px;
      margin-top: 10px; }
    body main .form #message {
      width: 275px;
      height: 60px;
      margin-top: 10px; }
    body main .form .button_form {
      width: 200px;
      height: 30px;
      margin-top: 15px;
      background-color: #b6c600;
      color: #27223a;
      box-shadow: 2px 2px 2px 2px #5436cc;
      border: none; }
    body main .form .button_form:hover {
      transition: .3s;
      width: 225px;
      background-color: #5436cc;
      color: #f5f5dc;
      box-shadow: 2px 2px 2px 2px #b6c600; }
  body footer {
    background-color: #5436cc;
    color: #f5f5dc;
    text-align: center;
    padding: 0 0 20px 0; }

/* === DESKTOP ===*/
@media (min-width: 780px) {
  body main .inicial_cta {
    display: flex;
    flex-direction: row-reverse;
    align-items: center; }
    body main .inicial_cta .initial_cta_text {
      padding: 0px 25px; }
      body main .inicial_cta .initial_cta_text h1 {
        font-size: 60px;
        margin-top: 0; }
      body main .inicial_cta .initial_cta_text p {
        text-align: center;
        margin-top: 25px;
        font-size: 24px; }
      body main .inicial_cta .initial_cta_text button {
        width: 400px;
        height: 60px;
        border-radius: 15px;
        font-size: 22px; }
      body main .inicial_cta .initial_cta_text button:hover {
        background-color: #5436cc;
        color: #f5f5dc;
        width: 420px;
        height: 60px; }
    body main .inicial_cta .initial_img {
      margin: 40px 50px; }
      body main .inicial_cta .initial_img img {
        width: 600px; }
  body main .beneficios {
    padding: 60px 0px;
    flex-direction: row;
    justify-content: space-around; }
    body main .beneficios .benef {
      padding: 20px 10px;
      width: 400px;
      height: 370px;
      margin: 0; }
      body main .beneficios .benef img {
        width: 60px;
        height: 60px;
        margin: 10px 20px 0 10px;
        border: 4px solid #27223a;
        border-radius: 40px; }
      body main .beneficios .benef div span {
        font-weight: 700;
        font-size: 24px; }
      body main .beneficios .benef div p {
        font-size: 20px;
        margin: 15px 15px 0 0; }
  body main .social_proof div .quote_client {
    font-size: 40px;
    margin-top: 25px;
    width: 600px; }
  body main .social_proof div div {
    /*para cuando haya imagen de cliente*/ }
    body main .social_proof div div .text_client {
      width: 100%;
      margin: 15px 100px;
      font-size: 24px; }
  body main .social_proof div .name_client {
    font-size: 22px; }
  body main .strong_cta {
    padding: 40px;
    display: flex;
    justify-content: space-around; }
    body main .strong_cta article {
      margin: 20px;
      padding: 0px 15px;
      color: beige;
      width: 350px; }
      body main .strong_cta article img {
        margin: 15px auto;
        width: 80px;
        height: 80px;
        border: 3px solid #27223a;
        border-radius: 60px; }
      body main .strong_cta article .prod_title {
        font-size: 24px; }
      body main .strong_cta article .prod_para {
        font-size: 20px; }
      body main .strong_cta article button {
        width: 260px;
        height: 60px;
        border-radius: 20px;
        font-size: 20px;
        margin: 30px auto; }
      body main .strong_cta article button:hover {
        width: 280px;
        height: 60px; }
  body main .who_are h2 {
    font-size: 40px;
    margin: 40px 0px; }
  body main .who_are .who_text {
    width: 90%;
    font-size: 22px;
    margin-bottom: 40px; }
  body main .who_are .jess {
    display: flex;
    align-items: center;
    padding: 0; }
    body main .who_are .jess img {
      width: 300px;
      height: 300px;
      margin: 0px 35px;
      border-radius: 20px; }
    body main .who_are .jess .jess_content .jess_name {
      font-size: 24px;
      margin: 20px 0; }
    body main .who_are .jess .jess_content .jess_text {
      font-size: 22px;
      width: 80%; }
  body main .who_are .dani {
    padding: 0;
    margin-left: 35px; }
    body main .who_are .dani img {
      width: 300px;
      height: 300px;
      margin-right: 35px;
      border-radius: 20px; }
    body main .who_are .dani .dani_content {
      margin: 15px 0; }
      body main .who_are .dani .dani_content .dani_name {
        font-size: 24px;
        margin: 20px 0; }
      body main .who_are .dani .dani_content .dani_text {
        font-size: 22px;
        width: 80%; }
  body main .form {
    padding: 40px;
    margin-top: 50px; }
    body main .form p {
      font-size: 30px; }
    body main .form .cssBasic {
      font-size: 16px;
      margin-top: 15px; }
    body main .form #name {
      width: 600px;
      height: 40px; }
    body main .form #email {
      width: 600px;
      height: 40px; }
    body main .form #message {
      width: 600px;
      height: 100px;
      padding-top: 10px; }
    body main .form .button_form {
      width: 400px;
      height: 40px;
      color: #27223a;
      font-size: 20px; }
    body main .form .button_form:hover {
      width: 420px; } }
