@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
/*Seccion de reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  background-color: #f5f5dc;
  font-family: 'Sen', sans-serif;
  color: #27223a; }
  body header {
    background-color: #5436cc; }
  body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px; }
  body button {
    background-color: #b6c600;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 0px solid #27223a;
    color: #27223a;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 2px 5px 2px #5436cc; }
  body footer {
    background-color: #5436cc;
    color: #f5f5dc;
    text-align: center;
    padding: 0 0 20px 0; }
