@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
$purple: #5436cc;
$green: #b6c600;
$pink: #c536cf;
$black: #27223a;
$beige: #f5f5dc;
/*Seccion de reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
*, *::before, *::after { box-sizing: border-box; }


body {
    background-color: $beige;
    font-family: 'Sen', sans-serif;
    color: $black;
    header {
        background-color: $beige;
        display: flex;
        justify-content: center;
        a {
            img {
                width: 200px;
                margin: 10px auto;
            }
        }
    }
    main {
        .inicial_cta {
            .initial_cta_text {
                display: flex;
                flex-direction: column;
                padding: 0px 15px;
                h1 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 900;
                    font-size: 30px;
                    text-align: center;
                    margin-top: 20px;
                }
                p {
                    text-align: center;
                    margin-top: 15px;
                }
                .button_cta {
                    background-color: $green;
                    width: 300px;
                    height: 50px;
                    border-radius: 10px;
                    border: 0px solid #27223a;
                    box-shadow: 2px 2px 1px 1px $purple;
                    margin: 20px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .link:link, .link:visited, .link:active {
                        text-decoration: none;
                        color: $black;
                        font-size: 16px;
                        font-weight: 700;
                        font-family: 'Sen', sans-serif;
                    } 
                }
                .button_cta:hover {
                    background-color: $purple;
                    width: 280px;
                    height: 50px;
                    box-shadow: 2px 2px 1px 1px $green; 
                    transition: .3s;
                    .link:link, .link:visited, .link:active {
                        color: $beige;
                    }
                }
            }
            .initial_img {
                margin: 20px auto;
                display: flex;
                justify-content: center;
                img {
                    width: 300px;
                    height: auto;
                };
            }
        }
        .beneficios {
            background-color: $purple;
            color: $black;
            padding: 10px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .benef {
                display: flex;
                padding: 20px 10px;
                width: 300px;
                height: auto;
                margin: 20px 0 0 0;
                background-color: $green;
                border-radius: 20px;
                img {
                    width: 30px;
                    height: 30px;
                    margin: 5px 10px 0 0;
                    border: 1px solid #27223a;
                    border-radius: 20px;
                }
                div {
                    span {
                        font-weight: 700;
                    }
                    p {
                        margin: 15px 15px 0 0;
                    }
                }
            }
        }
        .social_proof {
            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                .quote_client {
                    text-align: center;
                    font-weight: 700;
                    font-size: 26px;
                    margin-top: 15px;
                    width: 300px;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    img {
                        width: 60px;
                        display: none;
                    }
                    .text_client {
                        font-style: italic;
                        width: 90%;
                        text-align: center;
                        margin: 15px 20px;
                    }
                }
                .name_client {
                    margin: 15px 0 20px 0;
                }
            }
        }
        .strong_cta {
            background-color: $purple;
            padding: 20px;
            article {
                background-color: $pink;
                margin: 20px 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0px 10px;
                border-radius: 20px;
                color: beige;
                img {
                    margin: 10px auto;
                    width: 50px;
                    height: 50px;
                    border: 1px solid #27223a;
                    border-radius: 30px;
                }
                .prod_title {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 600;
                }
                .prod_para {
                    text-align: center;
                    margin-top: 10px;
                }
                .button_strong_cta {
                    background-color: $green;
                    width: 200px;
                    height: 40px;
                    border-radius: 10px;
                    border: 0px solid #27223a;
                    color: $black;
                    font-family: 'Sen', sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    box-shadow: 2px 2px 1px 1px $purple;
                    margin: 20px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .link:link, .link:visited, .link:active {
                        text-decoration: none;
                        color: $black;
                        font-size: 16px;
                        font-weight: 700;
                        font-family: 'Sen', sans-serif;
                    } 
                }
                .button_strong_cta:hover {
                    background-color: $purple;
                    color: $beige;
                    width: 220px;
                    height: 40px;
                    box-shadow: 2px 2px 1px 1px $green; 
                    transition: .3s;
                    .link:link, .link:visited, .link:active {
                        color: $beige;
                    }
                }
            }
        }
        .who_are {
            h2 {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 900;
                font-size: 20px;
                text-align: center;
                margin-top: 20px;
            }
            .who_text {
                width: 300px;
                text-align: center;
                margin: auto;
            }
            .jess {
                display: flex;
                align-items: center;
                padding: 0 20px;
                img {
                    width: 100px;
                    height: 200px;
                    margin-right: 15px;
                }
                .jess_content {
                    .jess_name {
                        font-weight: 700;
                        margin:10px 0;
                    }
                    .jess_text {}
                }

            }
            .dani {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                padding: 0 20px;
                img {
                    width: 100px;
                    height: 200px;
                    margin-left: 15px;
                }
                .dani_content {
                    margin: 15px 0;
                    .dani_name {
                        font-weight: 700;
                    }
                    .dani_text {}
                }

            }
        }
        .form {
            background-color: $pink;
            color: $beige;
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            p {
                font-size: 20px;
                font-weight: 600;
            }
            .cssBasic {
                border-radius: 10px;
                font-family: 'Sen', sans-serif;
                border: 3px solid $purple;
                padding-left: 10px ;
            }
            #name {
                width: 275px;
                height: 30px;
                margin-top: 15px;

            }
            #email {
                width: 275px;
                height: 30px;
                margin-top: 10px;
            }
            #message {
                width: 275px;
                height: 60px;
                margin-top: 10px;
            }
            .button_form {
                width: 200px;
                height: 30px;
                margin-top: 15px;
                background-color: $green;
                color: $black;
                box-shadow: 2px 2px 2px 2px $purple;
                border: none;
            }
            .button_form:hover {
                transition: .3s;
                width: 225px;
                background-color: $purple;
                color: $beige;
                box-shadow: 2px 2px 2px 2px $green;
            }

        }
    }

    footer {
        background-color: $purple;
        color: $beige;
        text-align: center;
        padding: 0 0 20px 0;
    }
}
/* === DESKTOP ===*/
@media (min-width: 780px) {
    body {
        main {
            .inicial_cta {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                .initial_cta_text {
                    padding: 0px 25px;
                    h1 {
                        font-size: 60px;
                        margin-top: 0;
                    }
                    p {
                        text-align: center;
                        margin-top: 25px;
                        font-size: 24px;
                    }
                    .button_cta {
                        width: 400px;
                        height: 60px;
                        border-radius: 15px;
                        font-size: 22px;
                    }
                    .button_cta:hover {
                        background-color: $purple;
                        color: $beige;
                        width: 420px;
                        height: 60px;
                    }
                }
                .initial_img {
                    margin: 40px 50px;
                    img {
                        width: 600px;
                    };
                }
            }
            .beneficios {
                padding: 60px 0px;
                flex-direction: row;
                justify-content: space-around;
                .benef {
                    padding: 20px 10px;
                    width: 400px;
                    height: 370px;
                    margin: 0;
                    img {
                        width: 60px;
                        height: 60px;
                        margin: 10px 20px 0 10px;
                        border: 4px solid #27223a;
                        border-radius: 40px;
                    }
                    div {
                        span {
                            font-weight: 700;
                            font-size: 24px;
                        }
                        p {
                            font-size: 20px;
                            margin: 15px 15px 0 0;
                        }
                    }
                }
            }
            .social_proof {
                div {
                    .quote_client {
                        font-size: 40px;
                        margin-top: 25px;
                        width: 600px;
                    }
                    div {
                        img {} /*para cuando haya imagen de cliente*/
                        .text_client {
                            width: 100%;
                            margin: 15px 100px;
                            font-size: 24px;
                        }
                    }
                    .name_client {
                        font-size: 22px;
                    }
                }
            }
            .strong_cta {
                padding: 40px;
                display: flex;
                justify-content: space-around;
                article {
                    margin: 20px;
                    padding: 0px 15px;
                    color: beige;
                    width: 350px;
                    img {
                        margin: 15px auto;
                        width: 80px;
                        height: 80px;
                        border: 3px solid #27223a;
                        border-radius: 60px;
                    }
                    .prod_title {
                        font-size: 24px;
                    }
                    .prod_para {
                        font-size: 20px;
                    }
                    .button_strong_cta {
                        width: 260px;
                        height: 60px;
                        border-radius: 20px;
                        font-size: 20px;
                        margin: 30px auto;
                    }
                    .button_strong_cta:hover {
                        width: 280px;
                        height: 60px;
                    }
                }
            }
            .who_are {
                h2 {
                    font-size: 40px;
                    margin: 40px 0px;
                }
                .who_text {
                    width: 90%;
                    font-size: 22px;
                    margin-bottom: 40px;
                }
                .jess {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    img {
                        width: 300px;
                        height: 300px;
                        margin: 0px 35px;
                        border-radius: 20px;
                    }
                    .jess_content {
                        .jess_name {
                            font-size: 24px;
                            margin:20px 0;
                        }
                        .jess_text {
                            font-size: 22px;
                            width: 80%;
                        }
                    }
    
                }
                .dani {
                    padding: 0;
                    margin-left: 35px;
                    img {
                        width: 300px;
                        height: 300px;
                        margin-right: 35px;
                        border-radius: 20px;
                    }
                    .dani_content {
                        margin: 15px 0;
                        .dani_name {
                            font-size: 24px;
                            margin: 20px 0;
                        }
                        .dani_text {
                            font-size: 22px;
                            width: 80%;
                        }
                    }
    
                }
            }
            .form {
                padding: 40px;
                margin-top: 50px;
                p {
                    font-size: 30px;
                }
                .cssBasic {
                    font-size: 16px;
                    margin-top: 15px;
                }
                #name {
                    width: 600px;
                    height: 40px;
                }
                #email {
                    width: 600px;
                    height: 40px;
                }
                #message {
                    width: 600px;
                    height: 100px;
                    padding-top: 10px;
                }
                .button_form {
                    width: 400px;
                    height: 40px;
                    color: $black;
                    font-size: 20px;
                }
                .button_form:hover {
                    width: 420px;
                }
    
            }
        }
        footer {
        }
    }
}
